.movie-list {
  margin: 0 auto 10px;
  width: 100%;
  border-radius: 0;
  box-sizing: border-box;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #d6d6d6;
}
.sort-container {
  display: inline-block;
}
